<div class="form-group">
    <label for="tit">Title</label>
    <input type="text" required value="<%= article.title %>" name="title" id="tit" class="form-control">
</div>

<div class="form-group">
    <label for="desc">Description</label>
    <textarea class="form-control" name="description" id="desc"><%= article.description %></textarea>
</div>

<div class="form-group">
    <label for="md">Markdown</label>
    <textarea required class="form-control" name="markdown" id="md"><%= article.markdown %></textarea>
</div>

<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>